.list {
  list-style: none;

  margin: 0;
}

.item:not(:last-child) {
  margin-bottom: 4px;
}

.link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s, transform 0.3s;
}

.link:hover {
  color: #007bff;
  transform: scale(1.05);
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.hero_title {
  margin: 10px 0px;
  font-size: 24px;
  font-weight: bold;
}
